SECRET_KEY=changeme-generate-your-own-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=parkandgo_user
DB_PASSWORD=parkandgo_password
DB_HOST=localhost
DB_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=noreply@parkandgo.local
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@parkandgo.local
