SECRET_KEY=django-insecure-LRfCIIWdPyolBWUCBMs8l4gsfVU0uPiL-0f8kodo1caFe1qLic3ncDCOkH-WE8KfNn8
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
ADMIN_URL=secure-adm1n/
DB_ENGINE=django.db.backends.postgresql
DB_NAME=parkandgo
DB_USER=parkandgo
DB_PASSWORD=parkandgo
DB_HOST=db
DB_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=maildev
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@parkandgo.local
